[submodule "nativejscore"]
	path = nativejscore
	url = https://github.com/nidium/NativeJSCore.git
	branch = master
[submodule "framework"]
	path = framework
	url = git@github.com:nidium/NativeFramework.git
