attrs==16.2.0
autobahn==0.16.1
cffi==1.8.3
constantly==15.1.0
cryptography==1.5.3
enum34==1.1.6
idna==2.1
incremental==16.10.1
ipaddress==1.0.17
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.17
pyOpenSSL==16.2.0
service-identity==16.0.0
six==1.10.0
Twisted==16.5.0
txaio==2.5.2
zope.interface==4.3.2
